name: deploy
on:
  push:
    branches:
      - 'main'
    paths-ignore:
      - '**.md'
      - '.gitignore'
      - 'README*'
      - 'LICENSE'
jobs:
  deploy:
    name: 'Deploy to Production'
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    steps:
      - name: Setup ssh
        run: |
          mkdir -p ~/.ssh/
          echo "$SSH_PRIVATE_KEY" > ~/.ssh/sabine
          chmod 600 ~/.ssh/sabine
          cat >>~/.ssh/config << END
          Host prod
            HostName $SSH_HOST
            User $SSH_USERNAME
            Port $SSH_PORT
            IdentityFile ~/.ssh/sabine
            StrictHostKeyChecking no
          END
        env:
          SSH_USERNAME: ${{ secrets.USERNAME }}
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          SSH_HOST: ${{ secrets.HOST }}
          SSH_PORT: 22
      - name: update sabine core
        env:
          GITHUB_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          ssh prod 'cd sabine/core && git pull && GITHUB_AUTH_TOKEN=$GITHUB_AUTH_TOKEN docker compose up -d --build'